@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;

}

/* Header  */

header{
    background-color:  #a7cb00;
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
.mainheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo{
    padding: 20px 0;
    color: rgb(0, 0, 0);
}

.mainheader nav{
    display: flex;
    gap: 30px;
}
.mainheader li{
    list-style: none;

}
.mainheader a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 252, 252);

}
.mainheader a:hover{
    color: rgb(0, 0, 0);
    transition: 1s all ease;
}

/* Hero section */

 #hero{
    max-width: 100%;
    height: 100vh;
    background-image: url(images/background2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00000036;
    background-blend-mode: overlay;
} 

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}



.main-hero h1{
    padding-top: 200px;
    color: rgb(255, 255, 255);
font-size: 48px;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 15px;
    
}
.main-hero h1 span{
    color: #a6cb00cd;
	animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.main-hero p{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    max-width: 565px;
    margin-bottom: 40px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
}

@keyframes vibrate-2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}




/* what we offer section */





.what-we-offer h1{
    text-transform: uppercase;
    margin-top:  100px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}
.what-we-offer p{
    
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatweoffer-cards{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

}
.card1{
    padding: 50px 30px;
    border-radius: 10px;
    /* border: 1px solid #0000004a; */
    transition: all 300ms linear 0s;
   
     
    border: 1px solid #0000004a;
}

.card1 img{
    margin-bottom: 35px;
}
.card1 h2{
    margin-bottom: 20px;
  
}
.card1 p{
    margin-bottom: 36px;
    color: #777777;
}

@keyframes vibrate-2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}


.card1 .main_btn{
      padding: 0px 30px;
    line-height: 38px;

}
.card1 .main_btn:hover{
        	animation: vibrate-2 0.3s linear infinite both;

}
.main_btn{
    padding: 0px 40px;
    background: #a7cb00;
    z-index: 2;
    display: inline-block;
    transition: all 400ms linear;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    line-height: 48px;
    border: 1px solid #a7cb00;
    border-radius: 5px;
    transition: all 300ms linear 0s;
    box-shadow: 0px 10px 30px 0px rgba(115, 73, 251, 0.3);
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}
.main_btn:hover{
    background-color:grey   ;
    border: 1px solid #00000000;
    transition: all 0.5s ease;
    	animation: vibrate-2 0.3s linear infinite both;

}
/* .card1:hover{
    box-shadow: 5px 10px 30px 0px rgb(0, 0, 0, 0.08);
    border-color: #fff;
   
} */

/* @media screen and (min-width:320px){
    .whatweoffer-cards{
        display: grid;
        grid-template-columns: 1fr ;
    }
} */





/* who are we section */


.main{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.div-1{
    gap: 20px;
}

.div-1 h5{
    color: #D87A16;
    font-size: 20px;
    font-weight: 600;
}

.div-1 h2{
    font-size: 50px;
    padding-top: 10px;
    margin: 0px 0px 30px;
}

.div-1 p{
    padding-top: 20px;
    color: #777777;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 24px;
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
   
    
}
.images img{
    padding: 15px;
    
    width: 100%;
    height: 140px;
    box-shadow: black;
}

/* Testimonial section */

.text2{
    padding-top: 100px;
    align-items: center;
    justify-items: center;
}
.text2 h4{
    color: #ff5146;
    font-size: 16px;
    font-family: 600;
    text-transform: uppercase;

}
.text2 h1{
    font-size: 40px;
    line-height: 1.2em;
    margin-top: 10px;
}
.testimonial-card{
    padding: 50px 50px 30px;
    background-color: #fffafa;
    
    border-radius: 25px;
    margin: 20px 7px;
box-shadow: 12px 10px 24px -7px rgba(0,0,0,0.75);


}

@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.testimonial-card:hover{
    transform: translateY(-12px);
    transition: 0.5s all ease;
    cursor: pointer;
    
}
.testimonial-cards{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.card-image{
    display: flex;
    gap: 20px;
}
.card-image .testimonial-image {
    border-radius:50%;
}
.testimonial-card .testimonial-text{
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonial-text h1{
    font-size: 25px;
    font-weight: 600;
}
.testimonial-text p{
    color: gray;
    
}
.card-text p{
    padding-top: 20px;
    line-height: 25px;
     font-family: 'Poppins', sans-serif;
}
.card-text h5{
    margin-top: 20px;
    color: gray;
    font-size: 18px;
}
/* our team sectin */
#our-team{
    padding-top: 100px;
   background-image: url(images/lol`1.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-color: #00000000;
    background-blend-mode: overlay;
    height: 220px;
    margin-bottom: 70px;
      box-shadow: 50 50px 72px rgba(0, 0, 0, 0.2);
}   
.our-team-text{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family:   'Times New Roman', Times, serif;
    color: #a7cb00;
}
.our-team-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.our-team-texts h1{
    font-size: xx-large;
    font-weight: 200;
    color: #a7cb00;
}
.our-team-texts h2{
    padding-top: 20px;
    font-size: 30px;
}
.our-team-texts p{
    padding-top: 40px;
    font-size: 18px;
    color: #777777;
}
.our-team-texts .main_btn{
    margin-top: 44px;
}
.text h1{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-self: center;
    
    color: #a7cb00;
}


.text .line{
    padding-top: 2px;
    margin-top: 20px;
    width: 100px;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: #D87A16;
}

.text p{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: larger;
    color: #a7cb00;

}

.members{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 0;

}



.team-content img{
    height: 380px;
    width: 100%;
    object-fit: cover;
    
}

.team-member {
    background-color: #fff;
    margin-top: -50px;
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
box-shadow: 0px 4px 23px 8px rgba(0,0,0,0.22);


    margin-bottom: 20px;

   
}
.team{
    text-decoration: none;

}
.team:hover{
    transform: translateY(-12px);
    transition: 0.5s all ease;
}
.team-member h1{
    padding-top: 5px;
    display: flex;
    align-items: center;  
    justify-content: center; 
    color: #ff8605;
}

.team-member p{
    display: flex;
    align-items: center;  
    justify-content: center; 
    font-size: 24px;
    font-weight: 200;
    color: gray;
}
/* .social{
   display: flex;
   align-items: center;
   justify-content: center;
 
}
.team-info svg{
       -moz-border-radius:50%;
    -webkit-border-radius:50%;

   border-radius: 50%;
} */


#footer{
    background-color: #000000;
    padding-bottom: 20px;
   margin-top: 90px;
    padding-top: 90px;
}
.logo1{
   font-size: 27px;
}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
}

.section1 li{
    list-style: none;
    padding: 5px 0;

}
.section1 {
    color: white;
    text-decoration: none;
    
    padding-top: 30px;
    font-size: larger;
}
.section1 a{
    text-decoration: none;
    color: #fff;
}
.section1 h4{
    color: white;
    font-size: 20px;
}
.section1 h2{
    color: white;
    font-size: 20px;
}

.section1 a:hover{
    color:#ffffff;
    transition: 0.4s ease all;
}
.section1 h2{
    padding-top: 16px;
}

.section1 a{
    margin-top:20px;
}
.logo1 a h3:hover{
    color: #a7cb00;
    transition: 1s ease all;
}

hr{
    
    margin-top: 50px;
    color: rgba(128, 128, 128, 0);
}
.bottom p{
    margin-top: 15px;
    text-align: center;
    color: white;
}
.section1 h1{
    color: white;
    margin-bottom: 20px;
    margin-right: 100px;
  font-size: 35px;
}
.section1 h3{
    color: white;
}

@keyframes shake-top {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

.section1 .main_btn:hover{
    animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}


/* Mark Livuw */



.team-member1 .name{
    font-size: 25px;
}

.our-team-member1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.team-member1{
    margin: 50px 10px;

     border-radius: 20px 50px 5px;
    width: 70%;
    height: 26.5em;
    background-color: #D1D8BE;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}

.team-info .color{
    color: #D87A16;
}

.team-info{
   display: flex;
   
}

.team-info h5{
    font-size: 20px;
    font-weight: 200;
    padding-top: 20px;
 
}
.team-info span{
    padding-left: 20px;
    font-size: 20px;
    font-weight: 200;
     padding-top: 20px;
     color: gray;
}
.main-text{
    padding-top: 100px;
}

.main-p{
    font-size: 18px;
    
}
.team-member1 a{
    margin-top: 50px;
}

.text-team p{
    padding-top: 20px;
    font-size: 21px;
    line-height: 36px;
}
.text-team p a{
    font-size: 25px;
    color: #D87A16;
}


/* .skill progress{
    color: #a7cb00;
    width: 500px;
    height: 20px;
     border-radius: 25px;


} 

.skill progress{
   width: 500px;
    height: 30px;
    
    
}



.main-skills{
    padding-top: 50px;
}

.skill h1{
    font-size: xx-large;
    color: #D87A16;
}
.skill1 h4{
    padding-top: 10px;
    font-size: 20px;
    color: #777777;
    
}
.main-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.list li{
    padding-top: 36px;
    color: #D87A16;
    
} 
*/
.main-text-skill{
    padding-top: 100px;
}
.main-text-skill h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-decoration: line-through;
    color: #a7cb00;
}
.my-skills-cards{
    padding:30px;;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
   
}

.skill-card{
 
     border-radius: 20px;
    width: 100%;
    height: 20em;
    background-color: #D1D8BE;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.31);


}
.skills{
    padding: 50px 30px;
    overflow: hidden;
}

.skills img{
    width: 80px;
    height: 80px;
}
.skills h23{
    padding-top: 10px;
}
.skills p{
    padding-top: 30px;
}

.skills a{
    margin-top: 10px;
}


.skill-card:hover{
    transform: translateY(-20px);
    transition: 0.4s ease all;
}
/* about us */


.about-us{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.about-us-image{

    width: 100%;
    height: 100%;
}
.about-us-text {
    padding-top: 50px;
}
.about-us-text h1{
    font-size: 40px;
}
.about-us-text h1 span{
    color: #a7cb00;
    font-size: 40px;
}
.about-us-text p{
    color: #777777;
    padding-top: 20px;
    font-size: larger;
}
.about-us-text p .lol{
    padding-top: 20px;
}
.about-us-text a{
    margin-top: 40px;
}
.main-about-us{
    padding-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.text-about-us h1{
    color: #D87A16;
}
.text-about-us p{
    padding-top: 20px;
    color: #777777;
    font-size: 20px;
}
.text-about-us a{
    margin-top: 20px;
}

.line{
        padding-top: 2px;
    margin-top: 10px;
    width: 100px;
    border-width: 1px;
    align-items: center;
    background-color: #D87A16;
}

.text1{
    padding-top: 100px;
     align-items: center;
}
.text1 h1{
    font-size: 40px;
}
.text1 p{
    color: #777777;
    font-size: 15px;
    font-weight: 700;
   
}
.linex{
       padding-top: 2px;
    margin-top: 10px;
    width: 100px;
    border-width: 1px;
    align-items: center;
    background-color: #D87A16;
}
.text1{
    display: flex;
    gap: 80px;
}

.text1 a{
    width: 10%;
}
.lists .list1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.list1{
    padding-top: 100px;
}

.contact-us{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.contact-us .contact-us-main h1{
    font-size: 35px;
    font-weight: 10900;
    color: #a7cb00;
    text-decoration: line-through;
    text-decoration: underline;
}
.contact-us .contact-us-main p{
    padding-top: 20px;
    font-size: 30px;
    
}

.contact-us-info{
    padding-top: 100px;
   
}
.contact-us-info .gmail{
    display: flex;
    
}
.contact-us-info .location{
    display: flex;
}
.contact-us-info .number{
    display: flex;
}
.contact-us-info svg{
    padding-bottom: 20px;
   
}
.contact-us .image{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
/* protofolio */

.main-protofolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Protofolio-card { 
    display: flex;
    align-items: center;
    justify-content: center;

}
.Protofolio-card img{
    border-radius: 50px ;
    border: 1px  solid black;
    width: 100%;
    height: 30rem;

}

@media only screen and (max-width: 1024px) {
.our-team-member1{
    grid-template-columns: 1fr 1fr;
   }
}


@media only screen and (max-width: 768px) {
  .main-hero p{
    font-size: 23px;
  }
  .main-hero .main_btn{
    width: 20%;
    height: 50px;
    font-size: 19px;
  }
    .whatweoffer-cards{
        grid-template-columns: 1fr;
    }
   .testimonial-cards{
    grid-template-columns: 1fr;
   }
   .main{
    grid-template-columns: 1fr;
   }
    .main .div-1 h5{
    font-size: 25px;
  }
  .main .div-1 p{
    font-size: 25px;
  }
  .main .div-2 .images {
    margin: auto;
  }
   .top{
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
    .my-skills-cards{
    grid-template-columns: 1fr;
   }
   .our-team-member1{
    grid-template-columns: 1fr;
   }
   .team-member1 .name h4{
    font-size: 35px;
   }
   .our-team-member-image{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
    .team-member1{
    padding-top: 50px;
   margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

   }
    .team-info h5{
    font-size: 28px;
  }
   .team-info span{
    font-size: 28px;
  }
  .text-team h1{
    font-size: 34px;
  }
  .text-team p{
    font-size: 30px;
  }
  .text-team a{
   font-size: 30px;
  }
  .team-member1 .main_btn{
    font-size: 21px;
   
     width: 20%;
    height: 50px;
    font-size: 19px;
  }
  
  .whatweoffer-cards .card1 h2,p{
    font-size: 25px;
  }
  
  .testimonial-card .card-text p{
    font-size: 18px;
  }
  .about-us{
    grid-template-columns: 1fr;
  }
  .about-us .about-us-image{
    margin: auto;
  }
  .our-team-main{
    grid-template-columns: 1fr;
  }
  .text{
    grid-template-columns: 1fr;
  }
  .members{
    grid-template-columns: 1fr;
  }
}


@media only screen and (max-width: 480px) {
     .whatweoffer-cards{
        grid-template-columns: 1fr;
    }
   .testimonial-cards{
    grid-template-columns: 1fr;
   }
   .main{
    grid-template-columns: 1fr;
   }
   .top{
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
    .my-skills-cards{
    grid-template-columns: 1fr;
   }
   .our-team-member1{
    grid-template-columns: 1fr;
     display: flex;
   
 
   }
  .team-info h5{
    font-size: 65px;
  }
  
 
}